*{
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    display: flex;
}
 .sidebar{
    background-color: #000;
    width: 337px;
    height: 100%;;
    border-radius: 16px;
    margin-right: 10px;

 }

 .main{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex: 1;
    background-color: #121212;
    border-radius: 16px;
 }
 

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 200px;
} 
.box1{
    width: 337px;
    height: 156px;
    background-color: #121212;
    border-radius: 16px;
    margin: 0px;
}
 .home,a{
    width: 280px;
    height: 40px;
    background-color: #121212;
    margin: 10px 10px 10px 50px ;
}
.search{
    width: 280px;
    height: 44px;
}
.homesearch{
    margin-top: 50px;
    height: 112px;
    width: 337px;
    background-color: #121212;
    margin-left: 30px 10px 40px 10px;
    line-height: 10px;
    justify-content: center;
}
.home a{
    text-decoration: none;
    font-size: 20px;
}
.home i{
    background-color: #121212;
    font-size: 25px;
}
.home{
    opacity: 0.7;

}
.home:hover{
 opacity: 1;
}

.search{
    opacity: 0.7;
}
.search:hover{
    opacity: 1;
}

.library-part{
    height: 100%;
    background-color: #121212;
    border-radius: 16px;
    margin-top: 10px;
}

.library{
    height: 55px;
    width: 337px;
    border-radius: 16px;
    margin-top: 10px;
    background-color: #121212;
    

    
}
.library-img{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 40px;
    background-color: #121212;
    opacity: 0.7;

}

.library-img:hover{
    opacity: 1;
}


.library a{
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    opacity: 0.7;

}

.library a:hover{
    opacity: 1;
}

.lib{
    height: 50px;
    width: 304px;
    background-color: #121212;
    margin-left: 10px;
    border-radius: 16px;
    margin-top: 10px;
    display: flex;
}

.plus{
    height: 32px;
    width: px;
    margin-right: 20px;
    margin-top: 30px;
    background-color: #121212;

}
.plus i{
    background-color: #121212;
    height: 16px;
    width: 16px;
    opacity: 0.7;
}
.plus i:hover{
    opacity: 1;
}

.text{
    height: 132px;
    width: 300px;
    background-color: #242424;
    margin-top: 15px;
    border-radius: 16px;
    padding: 10px;
    margin-left: 9px;
}
 .para{
    background-color: #242424;
    font-weight: 900px;
    margin-top: 25px;
    margin-left: 20px;
    line-height: 15px;
    font-size: 16px;
 }
 .span2{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 14px;
    background-color: #242424;
 }

 .playlist-button{
    height: 32px;
    width: 119px;
    background-color: #fff;
    color: #000;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 12px;
    padding: 4px 16px;
    margin-left: 20px;
    font-weight: bold;
 }
 .playlist-button:hover{
    height: 35px;
    width: 121px;
 }
 
 .text1{
    height: 132px;
    width: 300px;
    background-color: #242424;
    margin-top: 15px;
    border-radius: 16px;
    padding: 10px;
    margin-left: 9px;
}

.podcasts{
    background-color: #242424;
    font-weight: 900px;
    margin-top: 25px;
    margin-left: 20px;
    line-height: 15px;
    font-size: 16px;
 }

 .episodes{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 14px;
    background-color: #242424;
 }

 .podcasts-button{
    height: 32px;
    width: 135px;
    background-color: #fff;
    color: #000;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 12px;
    padding: 4px 16px;
    margin-left: 20px;
    font-weight: bold;
 }
 .podcasts-button:hover{
    height: 35px;
    width: 121px;
 }

 /*------------ Main-------- */
 .sticky-nav{
    height: 60px;
    width: 100%;
    background-color: #121212;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

}
 
.back-forward{
 display: flex;
 height: 40px;
 width: 100px;
 margin: 0px;
 margin-left: 40px;
 background-color: #121212;
 align-items: center;
 justify-content: space-evenly;
 border-radius: 50%;

}

.back-forward img{
    height: 15px;
    width: 16px;
    background-color: #000;
    margin: 5px 5px 5px 5px;
    padding: 9px 9px 9px 9px;

    border-radius: 50%;
}

.all-item{
    background-color: #121212;
    margin-right: 100px;
    justify-content: space-between;
    height: 60px;

}
.explore{
    background-color: #fff;
    color: #000;
    height: 30px;
    width: 130px;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.install{
    background-color: #000;
    color: #fff;
    height:25px;
    width: 120px;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 30px;
    margin-bottom: 30px;

}
.install i{
    background-color: #000;
    justify-content: space-evenly;
    margin-top: 5px;
    padding-bottom: 5px;
}

 


.all-item button{
    margin: 10px;
}

.user{
    height: 32px;
    width: 32px;background-color: #000;
    border-radius: 50%;
}
.user i{
    background-color: #000;
    height: 16px;
    width: 16px;
    border-radius: 50%;

}

@media (max-width:1000px)
{
    .hide{
        display: none;
    }
}

@media(max-width:1000px){
    .explore{
        display: none;
    }

}

.cards{
    height: 100px;
    width: 100px;
    margin-top: 0px;
}

